@import "tailwindcss";

@font-face {
    font-family: 'primary';
    src: url('/primary.ttf') format('truetype');
}

body {
    font-family: 'primary' !important;
}

.text-gradient{
    background-image: linear-gradient(97.0286deg, rgb(11, 11, 11) 0%, rgba(12, 12, 12, 0.55) 100%, rgba(12, 12, 12, 0.55) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

.icon{
  transition: all 0.2s ease-in-out;
  scale: 1;
}

.Card:hover .icon {
  scale: 1.02;
}

.card-main {
  transition: all 0.2s ease-in-out;
}

.Card:hover .card-main{
  padding-left: 15px;
}